<div>
  <h3>管理している部屋</h3>
  <ul>
    <% current_user.rooms.each do |room| %>
    <li><%= link_to room.name, room_path(room), data: { turbolinks: false } %> <%= link_to "削除", room_path(room), method: :delete %>　<%= link_to "メンバーの編集", edit_room_path(room) %></li>
    <% end %>
  </ul>
  <h3>入室可能な部屋</h3>
  <ul>
    <% current_user.room_memberships.each do |room_membership| %>
      <li><%= link_to room_membership.room.name, room_path(room_membership.room), data: { turbolinks: false } %></li>
    <% end %>
  </ul>
</div>
