<%= form_with model: @room do |f| %>

  <div class="field">
    <%= f.label :name, "name" %>
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "create" %>
  </div>

<% end %>
